@model List<noel_repository_pattern.ViewModels.TodoViewModel>

@{
    ViewData["Title"] = "Todos";
}

<table>
    <tr>
        <th>ID</th>
        <th>What</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td class='@(item.Done==true ? "line-through" : "")'>
            @item.Id
        </td>
        <td class='@(item.Done==true ? "line-through" : "")'>
            @item.What
        </td>
        <td><a asp-area="" asp-controller="Todos" asp-action="EditTodo" asp-route-id="@item.Id">Edit</a></td>
        <td><a asp-area="" asp-controller="Todos" asp-action="DeleteTodo" asp-route-id="@item.Id">Delete</a></td>
    </tr>
    }
</table>


<a asp-area="" asp-controller="Todos" asp-action="CreateTodo">Create</a>


